
<form>
    <div class = "form-group">
        <label for="firstName">First Name</label>
        <input required id="firstName" type = "text" class="form-control">
        <label for="lastName">Last Name</label>
        <input required id="lastName" type = "text" class="form-control">

        <label for="paymentMethod">Choose a payment method:</label>
        <select id="paymentMethod" name="methods">
        <option value="creditCard">Credit Card</option>
        </select>

        <label for="cardNumber">Card Number</label>
        <input required id="cardNumber" type = "password" class="form-control">

        <label for="expDate">Expiration Date</label>
        <input required id="expDate" type = "password" class="form-control">

        <label for="securityCode">Security Code</label>
        <input required id="securityCode" type = "password" class="form-control">
    </div>

    <input type="submit">
    <button class="btn btn-primary" (click)="onGoToSummary()">Submit</button>
</form>
