<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<nav aria-label="breadcrumb" class="shadow-sm p-3 mb-5 rounded">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a ></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="about">
<h1>About Us</h1>

<ul class="tabs">
    <li class="tab">
      <input class="radioClass" type="radio" name="tabs" checked id="tab1" (click)="check($event)">
      <label for="tab1">
          <i class='fas fa-users'></i>
          <p>About Team</p>
      </label>
      <div class="bg" id="tab1-bg"></div>
    </li>  

     <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab3" (click)="check($event)"/>
      <label for="tab3"> <i class="fas fa-user-tie"></i><p>Yifan Zhu</p></label>  

      <div class="bg" id="tab3-bg"></div> 
      
    </li>

    <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab2" (click)="check($event)"/>
      <label for="tab2"><i class='fas fa-user-tie'></i><p>Chaoyi Cheng</p></label>   
      
      <div class="bg" id="tab2-bg"></div>
    </li>
     <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab4" (click)="check($event)"/>
      <label for="tab4"><i class="fas fa-user-tie"></i><p>Jiale Yu</p></label>   
        
       <div class="bg" id="tab4-bg"></div>
       
    </li>
</ul>

<div *ngIf="tab1">
    <p class="xxx">BIB is an independently owned & operated coffee business.

      We specialize in high quality, affordable, handcrafted artisan roasted coffee
      
      Located at the Ohio Union, we proudly serve tOSU Students and Scholars
      
      All on-campus BIB customers enjoy 
      Free Delivery 
      
      *Plus good student discount, if applicable
      </p>
</div>
<div *ngIf="tab2">
    <img src="../assets/Chaoyi_Cheng.jpg" alt="Bulbasaur">
    <div class="intro">
    <p><strong>NAME: </strong>Chaoyi Cheng</p>
    <p><strong>ROLE: </strong>CEO</p>
    <p class="quote" ><strong>BIO: </strong>Life-long coffee drinker, 20-yrs veteran in the Tea & Coffee business, most recently VP Product at HEYTEA where he started the business as a small tea shop of less than 20㎡ and expand it all the way up to 450 stores in 37 Chinese cities and 4 stores in Singapore.</p>
    </div>
</div>
<div *ngIf="tab3">
    <div class="intro">
    <img src="../assets/Yifan_Zhu.jpg" alt="Squirtle">
    <p><strong>NAME: </strong>Yifan Zhu</p>
    <p><strong>ROLE: </strong>CTO</p>
    <p><strong>BIO: </strong>Crabs, Lobsters, and Lemonade</p>
    <p class="quote">"Previously a senior system architect from Starbucks. Very experienced at system integration and designing systems. He used to lead a team of 15  people and accomplised system integration within a month."</p>
    </div>
</div>
<div *ngIf="tab4">
    <img src="../assets/Jiale_Yu.jpg" alt="Pyro Slime">
    <div class="intro">
    <p><strong>NAME: </strong>Jiale Yu</p>
    <p><strong>ROLE: </strong>CFO</p>
    <p><strong>BIO: </strong>Former financial advisor at Grubhub. Analyzed financial status of Grubhub in year of 2020 and implemnented financial plans to re gain market share. 
    </p>
    </div>
</div>


</div>

