<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

<nav aria-label="breadcrumb" class="shadow-sm p-3 mb-5 rounded">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a ></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>


<h1>About Us</h1>

<ul class="tabs">
    <li class="tab">
      <input class="radioClass" type="radio" name="tabs" checked id="tab1" (click)="check($event)">
      <label for="tab1">
          <i class='fas fa-users'></i>
          <p>About Team</p>
      </label>
      <div class="bg" id="tab1-bg"></div>
    </li>  

     <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab3" (click)="check($event)"/>
      <label for="tab3"> <i class="fas fa-user-tie"></i><p>Yifan Zhu</p></label>  

      <div class="bg" id="tab3-bg"></div> 
      
    </li>

    <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab2" (click)="check($event)"/>
      <label for="tab2"><i class='fas fa-user-tie'></i><p>Chaoyi Cheng</p></label>   
      
      <div class="bg" id="tab2-bg"></div>
    </li>
     <li class="tab">
      <input class="radioClass" type="radio" name="tabs" id="tab4" (click)="check($event)"/>
      <label for="tab4"><i class="fas fa-user-tie"></i><p>Jiale Yu</p></label>   
        
       <div class="bg" id="tab4-bg"></div>
       
    </li>
</ul>

<div *ngIf="tab1">
    <p class="quote">The name of our company is Breakfast In Bed. We aim to provide the best breakfast in bed. Our strategy is to delivery breakfast using drones. Choose our service and we will offer you the best breakfast experience.</p>
</div>
<div *ngIf="tab2">
    <img src="https://i.ibb.co/dj8yXWQ/icon-b.png" alt="Bulbasaur">
    <div class="intro">
    <p><strong>NAME: </strong>Chaoyi Cheng</p>
    <p><strong>ROLE: </strong>CEO</p>
    <p><strong>INTEREST: </strong>Spiderman, Anime</p>
    <p class="quote">Born at a very young age, Chaoyi Cheng is a human being with a personality and emotions. As the CEO of the company, he works very hard.</p>
    </div>
</div>
<div *ngIf="tab3">
    <div class="intro">
    <img src="https://i.ibb.co/jG0RZfN/icon1.png" alt="Squirtle">
    <p><strong>NAME: </strong>Yifan Zhu</p>
    <p><strong>ROLE: </strong>CTO</p>
    <p><strong>INTEREST: </strong>Crabs, Lobsters, and Lemonade</p>
    <p class="quote">Born at a very young age, Yifan Zhu is a human being with a personality and emotions. As the CTO of the company, he works very hard.</p>
    </div>
</div>
<div *ngIf="tab4">
    <img src="https://i.ibb.co/tZrMCtj/icon4.png" alt="Pyro Slime">
    <div class="intro">
    <p><strong>NAME: </strong>Jiale Yu</p>
    <p><strong>ROLE: </strong>CFO</p>
    <p><strong>INTEREST: </strong>Starcraft, Waifu</p>
    <p class="quote">Born at a very young age, Jiale Yu is a human being with a personality and emotions. As the CFO of the company, he works very hard.</p>
    </div>
</div>




