<nav aria-label="breadcrumb" class="shadow-sm p-3 mb-5 bg-white rounded">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>

<div class="container justify-content-md-center">
    
    <div class="row">
        <h1 class="display-1">CONTACT</h1>
        <br>
        <br>
        <br>
        <div>
            <h4>Email: <a href="mailto:yu.2479@osu.edu" class="text-secondary">yu.2479@osu.edu</a></h4>
            <h4>Tel: <a href="tel:+1111111111" class="text-secondary">(111) 111-1111</a></h4>
            <h4>Address: <a href="http://maps.google.com/maps?q=1739+N+High+St,+Columbus,+OH+43210" class="text-secondary">1739 N High St, Columbus, OH 43210</a></h4>
        </div>
    </div>
</div>