<video  autoplay [muted]="'muted'" loop id="myVideo">
    <source src="../assets/background-vid.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

  <div class="container-fluid" id="big-box"> 
    <section id="main" class="row" data-module="hero-video" role="banner" aria-label="Hero">
      <div class="hero-video__content js-hero-content">
        <div id="welcom-carousel" class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows">
                <ng-template ngbSlide *ngFor="let image of images">
                  <div class="picsum-img-wrapper">
                      <img [src]="image" alt="Random slide">
                  </div>
                  <div class="carousel-caption">
                    <h3>Welcome to Breakfast In Bed!</h3>
                    <p>Located at the heart of central Ohio, we invite everyone to come experience our product.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>    
        </div>
      </div>
    </section>
    </div> 
  <!-- <hr> -->
  
  <!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div> -->

<!-- <div class="container-lg">
  <div class="row justify-content-center">
    <div class="col-md-1" id="yomama">
      md-1
    </div>
    <div class="col-md-2">
      md-2
    </div> 
      md-3
    </div>
    <div class="col-md-6">
      md-6
    </div>
  </div>
  <div class="row row-cols-3">
           <div class="col">Column</div>
           <div class="col">Column</div>
           <div class="col">Column</di>
  </div> -->
  <!-- <div class="row">
    <div class="col">
             First one-third
    </div>
    <div class="col">
      Second one-third
    </div>
    <div class="col">
      Third one-third
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-sm-1">
      sm-1
    </div>
    <div class="col-sm-2">
      sm-2
    </div> 
    <div class="col-sm-3">
      sm-3
    </div>
    <div class="col-sm-6">
      sm-6
    </div>
    <div class="col-sm-1">
      sm-extra
    </div>
  </div> -->
<!-- </div> -->